.table-container {
  overflow-x: auto;
  margin-top: 20px; 
  padding-bottom: 20px; 
}

.double-line-table {
  width: 100%;
  border-collapse: collapse;
}

.double-line-table th,
.double-line-table td {
  border: 2px solid #ddd; 
  padding: 8px;
  text-align: center;
}


.double-line-table th {
  background-color: #f4f4f4;
}


@media (max-width: 600px) {
  .double-line-table {
    width: 100%;
    border: 0; 
  }

  .double-line-table thead {
    display: none; 
  }

  .double-line-table td {
    display: block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #ddd; 
    padding: 10px 0;
    text-align: right;
  }

  .double-line-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
    white-space: nowrap;
    font-weight: bold;
    background-color: #f4f4f4;
    top: 0;
    z-index: 1;
  }
}
